/* IPplan-NG <% :version_name %>

CSS that controls the layout of the page elements.
Style of elements is controlled by the theme.

*/
.headerbox {
	text-align: center;
}

.userbox {
	text-align: right;
}

#menubar {
	width: 100%;
}

#subnet_summary {
	vertical-align: top;
}

#summary_pad {
	width: 5%;
}

#treemenu td {
	padding: .25em;
}	
